<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원목록</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous"
    />
</head>
<body>
    <h2>회원목록</h2>
    <!-- container : 부트스트랩 가로영역을 반응형으로 관리해주는 태그  -->
    <div class="container">
        <!-- row : 부트스트랩에서 한줄을 관리하는 태그(12그리드시스템) -->
        <div class="row">
            <!-- table : 부트스트랩 테이블 -->
            <table class="table table-striped">
                <thead class="table-primary">
                    <th scope="col">순번</th>
                    <th scope="col">ID</th>
                    <th scope="col">아이디</th>
                    <th scope="col">비번</th>
                    <th scope="col">이름</th>
                    <th scope="col">권한</th>
                    <th scope="col">가입일</th>
                </thead>
                <tbody>
                    <tr th:each="member, status : ${list}">
                       <td><span th:text="${status.count}"></span></td>
                        <td><span th:text="|ID : ${member.id}|"></span></td>
                        <td><span th:text="|아이디 : ${member.userId}|"></span></td>
                        <td><span th:text="|비번 : ${member.userPw}|"></span></td>
                        <td><span th:text="|이름 : ${member.userName}|"></span></td>
                        <td><span th:text="|권한 : ${member.userRole}|"></span></td>
                        <td><span th:text="|가입일 : ${member.joindate}|"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>