#nav ul li {
  display: inline-block;
  position: relative;
}

#nav a {
  color: rgb(107, 107, 107);
  font-weight: 500;
  text-decoration: none;
  padding: 5px 20px;
  display: block;
}

#nav > ul > li > a:hover {
  color: rgb(66, 66, 245);
}
#nav ul li:hover > #dropdown {
  display: block;
}

#dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
  background-color: white;
  border: 1px solid #cccccc58;
  border-radius: 5px;
  display: none;
  padding: 5px 0;
  box-shadow: 0 0 10px rgba(224, 224, 224, 0.521);
}

#dropdown li {
  display: block;
  width: 100%;
}
#dropdown a {
  padding: 8px 12px;
  color: rgb(107, 107, 107);
  font-weight: 500;
  display: block;
}
#dropdown a:hover {
  background-color: #cad6e369;
}
