@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button1 {
    @apply py-1 px-3 mr-2 mb-2 text-sm font-medium text-blue-900 focus:outline-none bg-sky-100 
           rounded-full border border-gray-200 hover:bg-sky-200 hover:text-blue-700 
           focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 
           dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 
           dark:hover:text-white dark:hover:bg-gray-700;
  }
  .button2 {
    @apply text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
           font-medium rounded-lg text-sm px-3 py-1.5 mr-2 mb-2 
           dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
  }
  .responsive {
    @apply w-full md:w-1/2 lg:w-1/3;
  }
}
