<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타임리프 index3.html</title>
</head>
<body>
<p th:text="${ #dates.format(standardDate, 'yyyy/MM/dd HH:mm:ss') }"></p>
<p th:text="${ #temporals.format(localDate, 'yyyy/MM/dd') }"></p>
<p th:text="${ #temporals.format(localDateTime, 'yyyy/MM/dd HH:mm:ss') }"></p>

<p th:text="${ #numbers.formatInteger(number1, 3, 'COMMA') }"></p>
<p th:text="|${ #numbers.formatInteger(number1, 3, 'COMMA') }원|"></p>
<p th:text="${ #numbers.formatDecimal(number2, 3, 'COMMA', 2, 'POINT') }"></p>
</body>
</html>






