<!DOCTYPE html>
<!-- xmlns : xml name space XML의 태그와 속성을 정의하는 곳 -->
<!-- th : 타임리프 관련 태그나 속성은 th로 시작함. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
</head>
<body>
    <h2>타임리프에 오신 것을 환영합니다.</h2>
    th:text : innerText 출력한다. <br>
    <p th:text = "텍스트입니다.">innerText</p>
    <p th:text = "${name_text}">innerText</p>

    th:utext : innerHTML로 출력<br>
    <p th:utext = "${name_html}">innerHtml</p>

    문자열 연결 <br>
    <p th:text = "'welcome,' + ${name_text}">연결된 문자열</p>

    문자열 보간(리터럴 템플릿)<br>
    <p th:text = "| welcome, ${name_text} |">문자열 보간</p>

    Input 태그 value에 값 넣기 <br>
    <input type="text" th:value="${server_value}" value="">

</body>
</html>